body{
    display: flex;
    justify-content: center;
}

.container{
    background-color: yellow;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

#box{
    background-color: white;
    flex: auto;
}

*{
    outline: 1px solid red;
}